.container {
  max-width: var(--layout-width);
  padding: 0 var(--layout-padding);
  margin: 2rem auto;
}

.container header {
  margin-bottom: 1rem;
}

.container header a {
  margin: 1rem 1rem 1rem 0;
}

.container header a:last-child {
  margin: 1rem 0;
}
