.container {
  padding: 0.25rem;

  overflow: hidden;
}

.date {
  display: inline-block;

  margin-bottom: 0.5rem;
}

.reminders {
  font-size: 0.75rem;
}

.reminders span {
  display: inline-block;

  width: 100%;
  margin: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
